<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>FizzBuzz</title>
  <link href="/layout.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <div class="greeting-contents">
    <div class="illust">
      <img src="illust.svg" alt="パーティピーポー">
    </div>
    <div class="try">
      フォームに入力されたデータから、どの数字がフィズバズか試してみましょう
    </div>
    <form action="/" method="GET" class="form">
      <input id="number-start" type="text" name="number_start" placeholder="始めの数字">
      <span>~</span>
      <input id="number-end" type="text" name="number_end" placeholder="終わりの数字">
      <input type="submit" value="送信する">
    </form>
    <div class="result">
      <% @results.each do |result| %>
        <div class="result-number <%= result[1].downcase if result[1].class == String %>">
          <%= result[0] %>
          <span class="<%= result[1].downcase if result[1].class == String %>"><%= '"' + result[1] + '"' if result[1].class == String %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
